<IfModule mod_rewrite.c>

RewriteEngine on


RewriteRule ^attractions$ /attractions.php [L]
RewriteRule ^see$ /see.php [L]
RewriteRule ^play$ /play.php [L]
RewriteRule ^eat$ /eat.php [L]
RewriteRule ^shop$ /shop.php [L]
RewriteRule ^see/([A-Za-z0-9-]+)?$ /seeat.php?name=$1 [L]
RewriteRule ^play/([A-Za-z0-9-]+)?$ /playat.php?name=$1 [L]
RewriteRule ^eat/([A-Za-z0-9-]+)?$ /eatat.php?name=$1 [L]
RewriteRule ^shop/([A-Za-z0-9-]+)?$ /shopat.php?name=$1 [L]

# RewriteRule ^businesses$ /businesses.php [L]
# RewriteRule ^classifieds/([A-Za-z0-9-]+)/([0-9-]+)?$ /classifieds.php?m=$1&id=$2 [L]
# RewriteRule ^classifieds$ /classifieds.php [L]
# RewriteRule ^events$ /events.php [L]
# RewriteRule ^([A-Za-z0-9-]+)/?$ interior.php?section=$1
# RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9_-]+)?$ subpages.php?sub_section=$1&name=$2 [L]
</IfModule>